/* General Styles */
body { background: #e9e9ec; }
h1, h2, h3, h4 { margin: 0; font-family: 'Roboto', sans-serif; line-height: 1.4; }
h2 { font-size: 1.8rem; font-weight: 700; }
h3 { font-size: 1.4rem; font-weight: 400; }
h4 { font-size: 1.2rem; font-weight: 400; }
a, p, span { font-family: 'Open Sans'; font-weight: 400; line-height: 1.4; }
p, span { font-family: 'Open Sans'; }
a { font-family: inherit; }


/* Wrapper */
.main-wrapper { background: #e9e9ec; float: right; clear: right; padding: 20px 0 120px; }
.main-wrapper-cover { margin-top: 100px; }
.wrapper-post { margin-left: 165px; }
@media screen and (max-width: 990px) {
	.wrapper-post { margin-left: 0; }
}

/* Widgets Title */
.block-title { background: url("../images/div-horizontal.png") repeat-x left center; width: 100%; margin-bottom: 15px;  }
.tab-title { background: #e9e9ec; display: inline-block; padding: 0 10px; border-left: 4px solid #28952B; font-size: 1.4rem !important; line-height: 2; color: #28952b; }


/* Buttons */
.button-first { display: block; background: none; width: 50%; height: 32px; margin: 0 auto; border: 1px solid #c9c9cc; font-family: 'Roboto', sans-serif; font-size: 1.6rem; font-weight: 700; text-align: center; text-transform: uppercase; line-height: 1.88; color: #69696c; cursor: pointer; }
.button-first:hover { background: #28952b; border-color: #28952b; color: #ffffff; box-shadow: 3px 3px 0 #146614; }


/* Index and Page Cover */
.main-body { background-position: center 160px; background-attachment: fixed; background-size: cover; background-repeat: no-repeat; }
.body-index { background-image: url("../bg/bg-swtfa.jpg"); }
.body-category { background-image: url("../bg/bg-manga.jpg"); }
.body-post { background-color: #19191c; }
@media screen and (max-width: 767px) {
	.main-body { background-position: center 100px; }
}
.container-fixed { padding-top: 162px; }
@media screen and (max-width: 767px) {
	.container-fixed { padding-top: 100px; }
}
.category-cover { background: rgba(0, 0, 0, 0.6); height: 200px; }
.category-cover .category-title { font-size: 2.8rem; font-weight: 400; text-align: center; line-height: 148px; color: #ffffff; }
@media screen and (max-width: 767px) {
	.category-cover { height: 160px}
	.category-cover .category-title { font-size: 2.2rem; line-height: 106px; }
}


/* Avisos */
.ad-right-300x250 { width: 300px; margin: 30px auto;}
@media screen and (min-width: 992px) {
	/* Mostrar avisos de desktop */
	.ad-top-728x90 { float: right; width: 728px; padding: 15px 0; }
	.ad-middle-728x90 { width: 728px; margin: 0 auto 60px; }
	/* Ocultar avisos de móviles en desktop */
	.ad-middle-300x250 { display: none; }
}
@media screen and (max-width: 991px) {
	/* Ocultar avisos de desktop en móviles */
	.ad-top-728x90, .ad-middle-728x90, .ad-right-300x250 { display: none; }
	.ad-middle-300x250 { display: block; width: 300px; margin: 0 auto 60px; }
}


/* NavBar */
.navbar { position:fixed; top: 0; width: 100%; margin: 0; z-index: 1000; }
@media screen and (min-width: 768px) {
	.navbar { border-radius: 0; }
}
.navbar-default { background: #ffffff; border: none; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.35); }
.navbar-default .navbar-toggle { background: none !important; padding: 0 !important; margin: 37px 15px 37px 0; border: none; }
.navbar-default .navbar-toggle .icon-bar { background: #28952b; width: 32px; height: 6px; }
.navbar-brand { height: auto; }
@media screen and (max-width: 767px) {
	.navbar-brand img { height: 70px; }
}
.navbar-default .navbar-collapse { float: left; width: 100%; padding: 0; font-family: 'Roboto', sans-serif; font-size: 1.4rem; line-height: 1.43; }
@media screen and (max-width: 767px) {
	.navbar-default .navbar-collapse { background: #e9e9ec; height: 640px; padding: 0 15px; box-sizing: content-box; }
}
.navbar-default .navbar-nav > li > a { padding: 5px 15px 10px; color: #39393c; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background: none; border-bottom: 4px solid #28952b; color: #28952b; }
@media screen and (max-width: 767px) {	
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background: url("../images/div-horizontal.png") repeat-x left bottom; border: none; font-weight: 700; }
	.navbar-default .navbar-nav > li > a { background: url("../images/div-horizontal.png") repeat-x left bottom; padding: 15px; }
}
.menu-credits { margin-top: 20px; font-size: 1.2rem; text-align: center; color: #99999c; }
@media screen and (min-width: 768px) {
	.menu-credits { display: none; }
}


/* Widget Top Trending */
.top-trending { float: left; width: 100%; padding-bottom: 20px; }
.top-trending .trending-title { background: #39393c; float: left; padding: 0 10px; text-transform: uppercase; line-height: 2; color: #ffffff; }
.top-trending .trending-topic { float: left; display: block; margin-left: 10px; font-family: 'Open Sans', sans-serif; font-size: 1.2rem; font-weight: bold; line-height: 2; color: #39393c; }
@media screen and (max-width: 767px) {	
	.top-trending .trending-title { display: block; float: none; margin-bottom: 10px; text-align: center; }
	.top-trending .trending-topic { width: 100%; text-align: center; line-height: 1.4; }
}


/* Breadcrumb & Pagination */
.breadcrumb { background: none;  }
.breadcrumb-cover { margin: 0; }
.breadcrumb li { font-size: 1.4rem; text-transform: uppercase; }
.breadcrumb li a { font-weight: 700; color: #39393c; }
.breadcrumb li a:hover { color: #28952b; }
.breadcrumb > .active { color: #69696c; }
.breadcrumb-cover li a { color: #e9e9ec; }
.breadcrumb-cover > .active { color: #b9b9bc; }
.pagination { margin: 15px 0 0; }
.pagination > li > a, .pagination > li > span { background: none; margin: 0 5px; border: 1px solid #c9c9cc; font-family: 'Open Sans'; color: #69696c; }
.pagination > li > a:hover, .pagination > li > span:hover { background: #28952b; border-color: #28952b; font-weight: 700; color: #ffffff; }
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover { background: none; border: 1px solid #d9d9dc; font-family: 'Open Sans'; color: #b9b9bc; }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background: #28952b; border-color: #28952b; font-weight: 700; color: #ffffff; }
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span { border-radius: 0; }


/* Cover */
.news-cover { float: left; width: 100%; }
.cover-big, .cover-small { width: 100%; }
.cover-small { margin-bottom: 22px; }
@media screen and (max-width: 767px) {
	.cover-big, .cover-small { margin-bottom: 20px; }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.cover-big, .cover-small { margin-bottom: 20px; }
}
.cover-big img, .cover-small img { display: block; width: 100%; }
.cover-big .cover-title, .cover-small .cover-title { background: rgba(0, 0, 0, 0.55); position: absolute; width: 80%; display: block; left: 15px; padding: 10px 15px; color: #ffffff !important; }
.cover-big .cover-title { bottom: 20px; font-size: 1.8rem !important; }
.cover-small .cover-title { bottom: 22px; font-size: 1.4rem !important; }


/* Main Content */
.main-content { background: url("../images/div-vertical.png") repeat-y right top; }
@media screen and (max-width: 767px) {
	.main-content { background: none; }
}
.news-timeline { margin-bottom: 30px; }


/* News Item */
.news-item { background: url("../images/div-horizontal.png") repeat-x left bottom; padding: 0 0 15px; margin: 0 0 15px; }
.news-item > div { padding: 0; }
.news-item .news-image { width: 100%; height: auto; padding-right: 30px; }
@media screen and (max-width: 767px) {
	.news-item .news-image { padding-right: 15px; }
}
.news-item .news-title { text-align: left; line-height: 1.4; }
.news-item .news-title a { font-weight: 700; color: #39393c; }
.news-item .news-title a:hover { color: #28952b; }
.news-item .news-date { margin-bottom: 10px; font-size: 1.2rem; text-align: left; color: #99999c; }
.news-item .news-text { font-size: 1.4rem; line-height: 1.6; color: #69696c; }
@media screen and (max-width: 767px) {
	.news-item .news-text { display: none; }
}
.timeline-button { margin-top: 15px; }


/* Video Widget */
.videos { background: #39393c; margin: 15px 0 30px; }
.videos > div { padding: 0; }
.videos .video-highlight { display: block; width: 100%; }
.videos .video-highlight img, .videos .video-thumb { width: 100%; height: auto; }
.videos .video-highlight .highlight-title { background: rgba(0, 0, 0, 0.55); position: absolute; width: 80%; display: block; left: 0; bottom: 0; padding: 10px 15px; color: #ffffff !important; }
.videos .video-thumb { margin-bottom: 15px; }
.videos .videos-recent { padding: 10px 15px; color: #ffffff !important; }
.videos .videos-recent h3 { padding-bottom: 7px; margin-bottom: 7px; border-bottom: 1px solid #ffffff; text-align: left; }
.videos .videos-recent h3 a { color: #ffffff !important; }
.videos .videos-recent .videos-button { font-size: 1.3rem; font-weight: 700; color: #ffffff !important; }


/* Post Styles */
.post-header { margin-bottom: 30px; }
.post-header .post-title { margin-bottom: 10px; font-size: 3.6rem; line-height: 1; color: #39393c; }
.post-header .post-byline { margin-bottom: 15px; font-size: 1.4rem; font-weight: 400; line-height: 20px; color: #69696c; }
.post-byline .byline-credits { padding: 0 7px; margin-right: 10px; border-right: 1px solid #69696c; font-weight: 700; color: #39393c; }
@media screen and (max-width: 767px) {
	.post-share { text-align: center; }
}
.post-share:first-child { margin-right: 0; }
.post-share .share-button { display: inline-block; height: 32px; padding: 0 10px; margin-right: 10px; font-size: 1.2rem; font-weight: bold; text-transform: uppercase; line-height: 32px; }
.post-share .share-button img { display: inline-block; width: 28px; margin: 2px 0; }
.post-share .share-button a { color: #ffffff; }
.post-share .post-fa { background: #3b5998; }
.post-share .post-tw { background: #55acee; }
.post-share .post-gl { background: #dd4b39; }
.post-share .post-pt { background: #cb2027; }
.share-button .share-text { margin-left: 10px; }
@media screen and (max-width: 990px) {
	.share-button .share-text { display: none; }
}
.post-content { margin-bottom: 30px; }
.post-content img { display: block; width: 100%; }
.post-content p { margin: 30px 0 0; font-family: 'Open Sans', sans-serif; font-size: 1.5rem; line-height: 1.8; color: #39393c; }
.post-content p a { font-weight: 700; color: #28952b; }
.post-content p.quote { font-family: 'Roboto', sans-serif; font-size: 2.8rem; font-weight: 700; font-style: italic; text-align: center; line-height: 1.2; color: #28952b; }
.post-content p.caption { margin-top: 10px; font-size: 1.2rem; font-weight: 400; font-style: italic; color: #69696c; }
.post-content .post-tags { padding-bottom: 30px; margin: 30px 0; border-bottom: 1px solid #c9c9cc; font-family: 'Open Sans', sans-serif; }
.tags-list { display: inline-block; padding: 0; margin: 0; list-style: none; }
.tag-item { background: #39393c; display: inline-block; height: 24px; padding: 0 5px; margin-left: 10px; font-size: 1.2rem; font-weight: 700; line-height: 24px; }
.tag-item:hover { background: #28952b; }
.tag-item a { color: #ffffff; }
.aside-latest { background: #ff0000; position: fixed; width: 150px; height: 100px; margin: 20px -165px 0 0; }
@media screen and (max-width: 990px) {
	.aside-latest { display: none; }
}

/* Widgets Styles */
.aside-widget { float: left; margin: 30px 0; }
.widget-thumb { margin-bottom: 30px; }
.widget-thumb img { width: 100%; margin-bottom: 10px; }
.widget-title { font-size: 1.6rem; text-align: left; }
.widget-title a { font-weight: 700; color: #39393c; }
.widget-title a:hover { color: #28952b; }
.widget-text { font-size: 14px; text-align: left; line-height: 1.6; color: #69696c; }


/* Aside Social Widget */
.aside-social {}
.aside-social .social-widget { float: left; width: 100%; height: 32px; padding: 0 15px; margin-bottom: 15px; font-size: 1,4rem; font-weight: bold; text-transform: uppercase; text-align: right; line-height: 2.28; color: #ffffff; }
.social-widget:last-child { margin-bottom: 30px; }
.aside-social .social-fa { background: #3b5998; }
.aside-social .social-tw { background: #55acee; }
.aside-social .social-yt { background: #bb0000; }
.aside-social .social-fa img, .aside-social .social-tw  img, .aside-social .social-yt img { float: left; margin: 2px 0;}
.aside-social .social-fa a, .aside-social .social-tw  a, .aside-social .social-yt a { color: #ffffff !important; }


/* Footer Styles */
footer { background: #39393c; padding: 40px 0; color: #ffffff !important; }
footer .footer-highlights, footer .footer-categories { padding-bottom: 30px; }
@media screen and (max-width: 767px) {
	footer .footer-highlights, footer .footer-categories { display: none; }
}
footer h3 { margin-bottom: 20px; font-weight: 400; text-transform: uppercase; }
footer .divider { background: #99999c; height: 2px; margin-bottom: 30px; }
footer .highlights-list, footer .categories-list { padding: 0; margin: 0; list-style: none; }
footer .highlights-list .highlight-item { float: left; width: 100%; margin-bottom: 15px; }
footer .highlights-list .highlight-item:last-child { margin: 0; }
.highlight-item img { float: left; width: 67px; margin-right: 30px; }
.highlight-item h2 { text-align: left; }
.highlight-item h2 a { color: #ffffff !important; }
footer .categories-list .category-item { margin-bottom: 10px; text-align: left; }
footer .categories-list .category-item a { color: #ffffff !important; }
footer .categories-list .category-item .count { float: right; text-align: right; }
footer .footer-social, footer .footer-about { margin-bottom: 30px; text-align: left; }
footer .footer-social .social-item { margin-right: 10px; }
footer .footer-about h3 { margin-bottom: 15px; }
@media screen and (max-width: 767px) {
	footer .footer-brand img { display: block; margin: 0 auto 30px; }
	footer .footer-about, footer .footer-social { text-align: center; }
	footer .footer-social .social-item { margin: 0 10px; }
}
footer .footer-credits { font-size: 1rem; text-align: center; color: #c9c9cc; }



