/* General Styles */
body { background: #e9e9ec; }
h1, h2, h3, h4 { margin: 0; font-family: 'Roboto', sans-serif; font-weight: 400; line-height: 1.4; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
a, p, span { font-family: 'Open Sans'; font-weight: 400; line-height: 1.4; }
p, span { font-family: 'Open Sans'; }
a { font-family: inherit; }
.color-first { color: #28952b; }
.color-comp { border-color: #ff3d2e !important; color: #ff3d2e !important; }

/* Wrapper */
.main-wrapper { background: #e9e9ec; float: right; clear: right; padding: 20px 0 120px; }
.main-wrapper-cover { margin-top: 100px; }
.wrapper-post { margin-left: 165px; }
@media screen and (max-width: 990px) {
	.wrapper-post { margin-left: 0; }
}

/* Widgets Title */
.block-title { background: url('../images/div-horizontal.png') repeat-x left center; width: 100%; margin-bottom: 15px;  }
.tab-title { background: #e9e9ec; display: inline-block; padding: 0 10px; border-left: 4px solid #28952B; font-size: 1.6rem !important; font-weight: 700; line-height: 2; color: #28952b; }


/* Buttons */
.button-first, .button-second { display: block; background: none; width: 60%; height: 32px; margin: 0 auto; border: 1px solid #c9c9cc; font-family: 'Roboto', sans-serif; font-size: 1.6rem; font-weight: 700; text-align: center; text-transform: uppercase; line-height: 1.88; color: #69696c; cursor: pointer; }
.button-first:hover { background: #28952b; border-color: #28952b; color: #ffffff; box-shadow: 0 3px #146614; }
.button-second:hover { background: #ff3d2e; border-color: #ff3d2e; color: #ffffff; box-shadow: 0 3px #c40f00; }


/* Index and Page Cover */
.main-body { background-color: #19191c; background-position: center 60px; background-attachment: fixed; background-size: cover; background-repeat: no-repeat; }
.body-index { background-image: url('../bg/bg-swtfa.jpg'); }
.body-category { background-image: url('../bg/bg-manga.jpg'); }
.body-post { background-color: #19191c; }
.container-fixed { padding-top: 105px; }
@media screen and (max-width: 767px) {
	.container-fixed { padding-top: 60px; }
}
.category-cover { background: rgba(0, 0, 0, 0.6); height: 200px; }
.category-cover .category-title { font-size: 2.8rem; font-weight: 400; text-align: center; line-height: 148px; color: #ffffff; }
@media screen and (max-width: 767px) {
	.category-cover { height: 160px}
	.category-cover .category-title { font-size: 2.2rem; line-height: 106px; }
}


/* Avisos */
.ad-right-300x250 { width: 300px; margin: 0 auto 30px; }
@media screen and (min-width: 768px) {
	/* Mostrar avisos de desktop */
	.ad-top-728x90 { width: 728px; padding: 15px 0; margin: 0 auto; }
	.ad-middle-728x90 { width: 728px; margin: 0 auto 60px; }
	/* Ocultar avisos de móviles en desktop */
	.ad-top-300x100, .ad-middle-300x250 { display: none; }
}
@media screen and (max-width: 767px) {
	/* Ocultar avisos de desktop en móviles */
	.ad-top-728x90, .ad-middle-728x90, .ad-right-300x250 { display: none; }
	/* Mostrar avisos de móviles */
	.ad-top-300x100 { display: block; width: 300px; margin: 30px auto; }
	.ad-middle-300x250 { display: block; width: 300px; margin: 0 auto 60px; }
}


/* NavBar */
.navbar { position:fixed; top: 0; width: 100%; margin: 0; border-radius: 0; z-index: 1000; }
.navbar-default { background: #39393c; border: none; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.35); }
.navbar-default .navbar-toggle { background: none !important; height: 30px; padding: 0 !important; margin: 15px 15px 15px 0; border: none; font-size: 3rem; line-height: 1; color: #ffffff; }
.navbar-brand { height: 50px; padding: 0; margin: 5px 15px; }
@media (min-width: 768px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0; }
}
.navbar-brand img { height: 100%; }

.navbar-form { background: #ffffff; position: absolute; left: 0; width: 100%; padding: 0; margin: 60px 0 0; border-bottom: 1px solid #99999c !important; }
.navbar-form .form-group { display: block; width: 1140px; margin: 0 auto; }
@media screen and (max-width: 1199px) {
	.navbar-form .form-group { width: 940px; }
}
@media screen and (max-width: 991px) {
	.navbar-form .form-group { width: 720px; }
}
@media screen and (max-width: 767px) {
	.navbar-form {  margin: 0; }
	.navbar-form .form-group { width: 100%; }
}
.navbar-form button, .navbar-form .form-control { background: none; border: none; box-shadow: none; }
.navbar-form button { padding-right: 0; }
.navbar-form .form-control { width: 95%; height: 36px; margin: 0; font-family: 'Open Sans', sans-serif; font-size: 1.4rem; line-height: 36px; }
@media screen and (max-width: 767px) {
	.navbar-form .form-control { display: inline-block; width: 90%; height: 60px; line-height: 60px; font-size: 1.8rem; }
}
.menu-credits { margin-top: 20px; font-size: 1.2rem; text-align: center; color: #99999c; }
@media screen and (min-width: 768px) {
	.menu-credits { display: none; }
}

.navbar-default .navbar-collapse { padding: 0; font-family: 'Roboto', sans-serif; font-size: 1.4rem; line-height: 1.43; }
@media screen and (max-width: 767px) {
	.navbar-default .navbar-collapse { background: #e9e9ec; width: 100%; height: 640px; padding: 0 15px; box-sizing: content-box; }
	.navbar-default .navbar-nav { margin-top: 62px; }
}
.navbar-default .navbar-nav > li > a { height: 60px; padding: 5px 14px 10px; line-height: 56px; color: #ffffff; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background: none; border-bottom: 4px solid #ff3d2e; color: #ff3d2e; }
@media screen and (max-width: 767px) {	
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background: url('../images/div-horizontal.png') repeat-x left bottom; border: none; font-weight: 700; }
	.navbar-default .navbar-nav > li > a { background: url('../images/div-horizontal.png') repeat-x left bottom; padding: 15px; line-height: 30px; color: #ff3d2e; }
}


/* Widget Top Trending */
.top-trending { float: left; width: 100%; padding-bottom: 20px; }
.top-trending .trending-title { background: #39393c; float: left; padding: 0 10px; text-transform: uppercase; line-height: 2; color: #ffffff; }
.top-trending .trending-topic { float: left; display: block; margin-left: 10px; font-family: 'Open Sans', sans-serif; font-size: 1.2rem; font-weight: bold; line-height: 2; color: #39393c; }
@media screen and (max-width: 767px) {	
	.top-trending .trending-title { display: block; float: none; margin-bottom: 10px; text-align: center; }
	.top-trending .trending-topic { width: 100%; text-align: center; line-height: 1.4; }
}


/* Breadcrumb & Pagination */
.breadcrumb { background: none;  }
.breadcrumb-cover { margin: 0; }
.breadcrumb li { font-size: 1.4rem; text-transform: uppercase; }
.breadcrumb li a { font-weight: 700; color: #39393c; }
.breadcrumb li a:hover { color: #28952b; }
.breadcrumb > .active { color: #69696c; }
.breadcrumb-cover li a { color: #e9e9ec; }
.breadcrumb-cover > .active { color: #b9b9bc; }
.pagination { margin: 15px 0 0; }
.pagination > li > a, .pagination > li > span { background: none; margin: 0 5px; border: 1px solid #c9c9cc; font-family: 'Open Sans'; color: #69696c; }
.pagination > li > a:hover, .pagination > li > span:hover { background: #28952b; border-color: #28952b; font-weight: 700; color: #ffffff; }
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover { background: none; border: 1px solid #d9d9dc; font-family: 'Open Sans'; color: #b9b9bc; }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background: #28952b; border-color: #28952b; font-weight: 700; color: #ffffff; }
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span { border-radius: 0; }


/* Cover */
.news-cover { width: 100%; margin-bottom: 60px; }
.cover-grid > div { padding: 0; border-right: 1px solid #e9e9ec; border-bottom: 1px solid #e9e9ec; border-left: 1px solid #e9e9ec; }
.cover-big, .cover-small { width: 100%; }
.cover-big img, .cover-small img { display: block; width: 100%; }
.cover-big .cover-title, .cover-small .cover-title { background: rgba(0, 0, 0, 0.55); position: absolute; width: 100%; display: block; bottom: 0; left: 0; padding: 10px 15px; color: #ffffff !important; }
.cover-big .cover-title { font-size: 1.8rem !important; }
.cover-small .cover-title { font-size: 1.4rem !important; }


/* Main Content */
.main-content { background: url('../images/div-vertical.png') repeat-y right top; }
@media screen and (max-width: 767px) {
	.main-content { background: none; }
}
.news-timeline { margin-bottom: 30px; }


/* News Item */
.news-item { background: url('../images/div-horizontal.png') repeat-x left bottom; padding: 0 0 15px; margin: 0 0 15px; }
.news-item > div { padding: 0; }
.news-item .news-image { width: 100%; height: auto; padding-right: 30px; }
@media screen and (max-width: 767px) {
	.news-item .news-image { padding-right: 15px; }
}
.news-item .news-title { font-size: 1.6rem; text-align: left; line-height: 1.4; }
.news-item .news-title a { font-weight: 700; color: #39393c; }
.news-item .news-title a:hover { color: #28952b; }
.news-item .news-date { margin-bottom: 10px; font-size: 1.2rem; text-align: left; color: #99999c; }
.news-item .news-text { font-size: 1.4rem; line-height: 1.6; color: #69696c; }
@media screen and (max-width: 767px) {
	.news-item .news-text { display: none; }
}
.timeline-button { margin-top: 15px; }


/* Video Widget */
.videos { background: #39393c; margin: 15px 0 30px; }
.videos > div { padding: 0; }
.videos .video-highlight { display: block; width: 100%; }
.videos .video-highlight img, .videos .video-thumb { width: 100%; height: auto; }
.videos .video-highlight .highlight-title { background: rgba(0, 0, 0, 0.55); position: absolute; width: 100%; display: block; left: 0; bottom: 0; padding: 10px 15px; color: #ffffff !important; }
.videos .video-thumb { margin-bottom: 15px; }
.videos .videos-recent { padding: 10px 15px; color: #ffffff !important; }
.videos .videos-recent h3 { padding-bottom: 7px; margin-bottom: 7px; border-bottom: 1px solid #ffffff; text-align: left; }
.videos .videos-recent h3 a { color: #ffffff; }
.videos .videos-recent .videos-button { font-size: 1.3rem; font-weight: 700; color: #ffffff; }
.videos .videos-recent h3 a:hover, .videos .videos-recent .videos-button:hover { color: #ff3d2e; }


/* Post Styles */
.post-header .post-title { margin-bottom: 10px; font-size: 3.6rem; line-height: 1; color: #39393c; }
.post-header .post-byline { margin-bottom: 15px; font-size: 1.4rem; font-weight: 400; line-height: 20px; color: #69696c; }
.post-byline .byline-credits { padding: 0 7px; margin-right: 10px; border-right: 1px solid #69696c; font-weight: 700; color: #39393c; }
@media screen and (max-width: 767px) {
	.post-share { text-align: center; }
}
.post-share:first-child { margin-right: 0; }
.post-share .share-button { display: inline-block; height: 32px; padding: 0 10px; margin: 0 10px 30px 0; font-size: 1.2rem; font-weight: bold; text-transform: uppercase; line-height: 32px; }
.post-share .share-button img { display: inline-block; width: 28px; margin: 2px 0; }
.post-share .share-button a { color: #ffffff; }
.post-share .post-fa { background: #3b5998; }
.post-share .post-tw { background: #55acee; }
.post-share .post-gl { background: #dd4b39; }
.post-share .post-pt { background: #cb2027; }
.share-button .share-text { margin-left: 10px; }
@media screen and (max-width: 990px) {
	.share-button .share-text { display: none; }
}
.post-content { margin-bottom: 30px; }
.post-content img { display: block; width: 100%; }
.post-content p { margin: 30px 0 0; font-family: 'Open Sans', sans-serif; font-size: 1.5rem; line-height: 1.8; color: #39393c; }
.post-content p a { font-weight: 700; color: #28952b; }
.post-content p.quote { font-family: 'Roboto', sans-serif; font-size: 2.8rem; font-weight: 700; font-style: italic; text-align: center; line-height: 1.2; color: #28952b; }
.post-content p.caption { margin-top: 10px; font-size: 1.2rem; font-weight: 400; font-style: italic; color: #69696c; }
.post-content ul { padding: 0; margin: 30px 0 0; list-style-position: inside; list-style-type: disc; }
.post-content li { font-family: 'Open Sans', sans-serif; font-size: 1.5rem; line-height: 2; color: #28952b; }
.post-review { background-position: top left; background-repeat: no-repeat; background-size: cover; height: 300px; position: relative; }
.post-review .post-calification { background: #880c0c; position: absolute; top: -20px; left: 20px; width: 100px; height: 100px; border-radius: 50px; border: 6px solid #e9e9ec; font-family: 'Titillium Web', sans-serif; font-size: 7rem; text-align: center; text-shadow: 0 2px #000000; line-height: 88px; color: #ffffff; z-index: 5; }
@media screen and (max-width: 767px) {
	.post-review .post-calification { left: auto; right: 20px; }
}
.post-review .review-details { background: rgba(191, 19, 19, 0.8); position: absolute; bottom: 0; width: 100%; padding: 15px; border-top: 1px solid #880c0c; color: #ffffff; }
@media screen and (max-width: 767px) {
	.post-review .review-details { bottom: auto; height: 100%; border-top: none; z-index: 2; }
}
.post-review .review-details h3 { font-size: 2.4rem; padding-bottom: 5px; margin-bottom: 15px; border-bottom: 1px solid #880c0c; }
.review-details .review-up { float: left; width: 47.5%; margin-right: 2.5%; border-right: 1px solid #880c0c; }
.review-details .review-down { float: right; width: 50%; }
.review-details .review-up ul, .review-details .review-down ul { padding: 0; margin: 10px 0 0; list-style-position: inside; list-style-type: none }
.review-details .review-up li, .review-details .review-down li { line-height: 24px; }
.review-details .review-up li span, .review-details .review-down li span { margin-right: 10px; vertical-align: text-top }
@media screen and (max-width: 767px) {
	.review-details .review-up, .review-details .review-down { float: none; width: 100%; }
	.review-details .review-up { padding-bottom: 10px; margin-bottom: 10px; border-right: none; border-bottom: 1px solid #880c0c; }
}
.post-tags { padding-bottom: 30px; margin: 30px 0; border-bottom: 1px solid #c9c9cc; font-family: 'Open Sans', sans-serif; }
.tags-list { display: inline-block; padding: 0; margin: 0; list-style: none; }
.tag-item { background: #39393c; display: inline-block; height: 24px; padding: 0 5px; margin-left: 10px; font-size: 1.2rem; font-weight: 700; line-height: 24px; }
.tag-item:hover { background: #28952b; }
.tag-item a { color: #ffffff; }
.aside-latest { float: left; width: 150px; padding: 20px 0 60px; margin-right: -165px; }
@media screen and (max-width: 990px) {
	.aside-latest { display: none; }
}
.aside-latest .latest-title { background: #ff3d2e; padding: 5px 10px; color: #ffffff; }
.aside-latest .latest-title::after { content:''; position: absolute; width: 0; height: 0; margin-top: 5px; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: 12px solid #ff3d2e; }
.aside-latest .widget-title a  { font-size: 1.4rem; color: #ffffff; }
.aside-latest .widget-title a:hover, .aside-latest .widget-title a:focus { color: #ff3d2e; }


/* Widgets Styles */
.aside-widget { float: left; margin: 30px 0; }
.widget-thumb { margin-bottom: 30px; }
.widget-thumb img { width: 100%; margin-bottom: 10px; }
.widget-title { font-size: 1.6rem; text-align: left; }
.widget-title a { color: #39393c; }
.widget-title a:hover { color: #ff3d2e; }
.widget-text { font-size: 14px; text-align: left; line-height: 1.6; color: #69696c; }
/* Widget Latest Post one-column */
@media screen and (min-width: 768px) {
	.widget-latest { display: none; }
}
.widget-latest { background: #19191c; padding: 30px 20px; margin: 30px -20px; }
.widget-latest .tab-title { background: #19191c; border-color: #e9e9ec; color: #e9e9ec; }
.widget-latest .widget-thumb a { color: #ffffff; }
.widget-latest .widget-thumb a:hover { text-decoration: underline; }


/* Aside Social Widget */
.aside-social {}
.aside-social .social-widget { float: left; width: 100%; height: 32px; padding: 0 15px; margin-bottom: 15px; font-size: 1,4rem; font-weight: bold; text-transform: uppercase; text-align: right; line-height: 2.28; color: #ffffff; }
.social-widget:last-child { margin-bottom: 30px; }
.aside-social .social-fa { background: #3b5998; }
.aside-social .social-tw { background: #55acee; }
.aside-social .social-yt { background: #bb0000; }
.aside-social .social-fa img, .aside-social .social-tw  img, .aside-social .social-yt img { float: left; margin: 2px 0;}
.aside-social .social-fa a, .aside-social .social-tw  a, .aside-social .social-yt a { color: #ffffff !important; }


/* 404 error Styles */
.fail-404 { margin: 30px 0; text-align: center; }
.fail-404 img { display: block; width: 20%; margin: 0 auto 30px; }
@media screen and (max-width: 767px) {
	.fail-404 img  { width: 50%; }
}
.fail-404 h2 { font-family: 'Gloria Hallelujah'; font-size: 6rem; margin-bottom: 20px; }
.fail-404 p { font-size: 1.8rem; }
.fail-404 a { display: block; margin-bottom: 30px; text-decoration: underline; }
.related-news .related-item { width: 100%; margin-bottom: 30px; }
.related-news .related-item img { width: 100%; margin-bottom: 10px; }
.related-item .related-title { font-size: 1.4rem; text-align: left; }
.related-item .related-title a { color: #39393c; }

/* Footer Styles */
footer { background: #39393c; padding: 40px 0; color: #ffffff !important; }
footer .footer-highlights, footer .footer-categories { padding-bottom: 30px; }
@media screen and (max-width: 767px) {
	footer .footer-highlights, footer .footer-categories { display: none; }
}
footer h3 { margin-bottom: 20px; font-weight: 400; text-transform: uppercase; }
footer .divider { background: #99999c; height: 2px; margin-bottom: 30px; }
footer .highlights-list, footer .categories-list { padding: 0; margin: 0; list-style: none; }
footer .highlights-list .highlight-item { float: left; width: 100%; margin-bottom: 15px; }
footer .highlights-list .highlight-item:last-child { margin: 0; }
.highlight-item img { float: left; width: 67px; margin-right: 30px; }
.highlight-item h2 { text-align: left; }
.highlight-item h2 a { color: #ffffff !important; }
footer .categories-list .category-item { margin-bottom: 10px; text-align: left; }
footer .categories-list .category-item a { color: #ffffff !important; }
footer .categories-list .category-item .count { float: right; text-align: right; }
footer .footer-social, footer .footer-about { margin-bottom: 30px; text-align: left; }
footer .footer-social .social-item { margin-right: 10px; }
footer .footer-about h3 { margin-bottom: 15px; }
@media screen and (max-width: 767px) {
	footer .footer-brand img { display: block; margin: 0 auto 30px; }
	footer .footer-about, footer .footer-social { text-align: center; }
	footer .footer-social .social-item { margin: 0 10px; }
}
footer .footer-credits { font-size: 1rem; text-align: center; color: #c9c9cc; }



